#!/usr/bin/env bash
{{- /* Finalisation: fix up the permissions of the zsh directories the
       earlier scripts created, then print the manual steps and the closing
       banner.

       Numbered last so compaudit sees the directories every other script
       creates, exactly as it did at the bottom of the old single script. */}}

{{ template "setup-helpers.sh.tmpl" . }}

fix_zsh_permissions() (
  set -e
  # Fix permissions of zsh folders if necessary
  # See https://stackoverflow.com/a/22753363/473961
  {{- /* xargs on MacOS will skip the command on empty input, but POSIX needs an extra flag */}}
  /bin/zsh -i -c 'compaudit | xargs{{ if (eq .chezmoi.os "linux") }} --no-run-if-empty{{ end }} chmod g-w'
)
runner fix_zsh_permissions

echo ""
# TODO: How can I automate these?
echo "Some manual installation steps:"
echo "  https://1password.com/downloads/#browsers"
echo "  https://simpl.fyi/gmail"
echo "  https://github.com/eth-p/bat-extras/blob/master/doc/prettybat.md"
{{- if (eq .chezmoi.os "darwin") }}
echo "  Enable Integer Scaling resolution: https://tonsky.me/blog/monitors/#integer-scaling"
echo "  Disable True Tone: https://support.apple.com/en-au/HT208909"
{{- end }}

{{ template "setup-summary.sh.tmpl" . }}

echo ""
echo "🎉 Done!"
echo "Now reboot"
