{{- /* Detect GitHub Codespaces and store presence in $codespaces */}}
{{- $codespaces:= env "CODESPACES" | not | not }}

{{- /* Detect Shopify Spin and store presence in $spin */}}
{{- $spin:= env "SPIN" | not | not }}

{{- /* Detect CI and store presence in $ci */}}
{{- $ci:= env "CI" | not | not }}

{{- /* When available, provide a better experience when interactive */}}
{{- $islocalenv:= (and (not $codespaces) (not $ci) (not $spin)) }}

{{- /* Set sourceDir to the --source CLI arg if present */}}
sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  islocalenv = {{ $islocalenv }}
  codespaces = {{ $codespaces }}
  spin = {{ $spin }}
  ci = {{ $ci }}
{{- if .islocalenv }}
{{- $gitemail := promptString "Enter your git email" }}
  gitemail = {{ $gitemail | quote }}
{{- $opemail := promptString "Enter your 1password email" }}
  opemail = {{ $opemail | quote }}
{{- $lockscreenemail := promptString "Enter email to display on lock screen" }}
  lockscreenemail = {{ $lockscreenemail | quote }}
{{- end }}
 
[git]
{{- if .islocalenv }}
{{- /* When not in CI/a codespace, auto commit all the things */}}
  autoCommit = true
  autoPush = true
{{- end }}

[diff]
  pager = "bat"
