#!/usr/bin/env bash
{{- if (eq .chezmoi.os "darwin") }}
# install homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Ensure it's available on the path
eval "$(/opt/homebrew/bin/brew shellenv)"
echo "Installed brew"
{{- end }}

{{- if .islocalenv }}
# 1password CLI
{{- if (eq .chezmoi.os "darwin") }}
  brew install --cask 1password/tap/1password-cli
{{- else if (eq .chezmoi.os "linux") }}
  curl -sS https://downloads.1password.com/linux/keys/1password.asc | sudo gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg
  echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" | sudo tee /etc/apt/sources.list.d/1password.list
  sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/
  curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol
  sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
  curl -sS https://downloads.1password.com/linux/keys/1password.asc | sudo gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg
  sudo apt update && sudo apt install 1password-cli
{{- end }}

op update
op account add --address my.1password.com --email {{ .opemail | quote }}
eval $(op signin --account my)
echo "Installed 1Password"
{{- end }}
